.header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 70%;
    width: 100%;
    position: fixed;
}

.menu-icon {
    display: flex;
    width: 50%;
}

.menu-icon {
    width: 60;
}

.menu-icon img {
    width: 25%;
    margin: 10px;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    width: 50%;
}
